{{ include "files/omz_base.zshrc" }}
# ---- custom ----

#source ~/.zsh_functions
eval "$(ssh-agent -s > /dev/null)"

{{ includeTemplate "zshrc/aliases" . }}
{{ includeTemplate "zshrc/autoload" . }}
{{ includeTemplate "zshrc/fzf" . }}
{{ includeTemplate "zshrc/tmux" . }}
{{ includeTemplate "zshrc/1pass" . }}
{{ includeTemplate "zshrc/starship" . }}
