#!/usr/bin/env

# This file will be loaded every time you open a new shell.
# It should only have environment variables you want
# loaded every time you open a new shell.
#
# If you want to add any additional customizations (example: oh-my-zsh)
# consider keeping it in your .zshrc file (you can create one).
#
# Additional information: http://zsh.sourceforge.net/Intro/intro_3.html

export XDG_CONFIG_HOME=$HOME/.config

{{ includeTemplate "zshenv/onepass" . }}
{{ includeTemplate "zshenv/tmux" . }}
{{ includeTemplate "zshenv/fzf" . }}
