#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" }}

if [[ ! $(command -v brew) ]]; then
    echo "🍺  Installing Homebrew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

if [[ -e "/opt/homebrew/bin/brew" && ! $(command -v brew) ]]; then
    echo "Adding Homebrew to your PATH"
    echo >> /Users/adam/.zprofile
    echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >>/Users/adam/.zprofile
    echo "Added Homebrew to zprofile. Adding to current shell"
    # TODO: Fix this. It does not work properly on a fresh install. Looks like the eval script is not working?
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi
{{ end }}
